.blip {
  padding: 100px !important;
}
h1, h2 {
  font-weight: 200 !important;
}
h2 {
  margin-top: 2em;
}
.subtitle {
  margin-top: 1em;
  margin-bottom: 1em;
}
.main {
}
td.time {
   width:100px;
   font-weight:bold;
   vertical-align:top;
}
td.date {
   width:200px;
   font-weight:bold;
   vertical-align:top;
}
ul,ol {
   margin-top:1em;
}
.mainbody {
  padding-right:30px;
  max-width:900px;
  font-size: 1.2em;
  line-height: 1.3em;
}         
.nav {
  position:absolute;
  right:0px;
  width:160px;  
  vertical-align:top;
  border:1px solid #eeeeee;
  top:80px;
  padding:20px;
  margin-right:10px;
}
img.speakerphoto {
  height: 100px; 
  float: left; 
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
